/*
  Global CSS styles

  This is used for setting up base styles for the application.
*/

/* index.css */
html, body, #root { height: 100%; }

body { 
  margin: 0; 
  background: #fff; 
}
